/* Estilos para ações e botões de ação */
.btn-action-actions {
  background: var(--primary-color);
  border-radius: 48px;
  padding: 6px;
  margin-right: 0px;
  cursor: pointer;
  transition: all 0.5s;
  height: 30px;
}

.btn-action-actions:hover:not(:disabled) {
  background: var(--status-info);
  transform: translateY(0px);
  border: none;
}

.btn-action-actions:disabled {
  opacity: 0;
  cursor: not-allowed;
}

.btn-action-actions img {
  width: 16px;
  height: 16px;
}


.actions-header, .actions-cell {
  right: 0;
  background-color: #f8f9fa;
  z-index: 10;
  min-width: 70px;
}

.actions-header {
  position: sticky;
  right: 0;
  z-index: 10;
  background: white;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

/* Estilo para manter a coluna de ações fixa */
.actions-column, .actions-cell {
  right: 0;
  z-index: 10;
}

.actions-column {
  background-color: #f8f9fa;
}

.actions-cell {
  right: 0;
  z-index: 20 !important; /* Aumentado para garantir que fique acima de outros elementos */
  background-color: white;
}

[data-theme="dark"] .actions-cell {
  background-color: #33333300;
}

.btn-action {
  min-width: 32px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 25 !important; /* Garantir que os botões fiquem acima */
}

.btn-action .icon {
  width: 16px;
  height: 16px;
  display: block;
}


.btn-icon.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e74c3c;
  background-color: #fee2e2;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.btn-icon.delete:hover {
  background-color: rgba(231, 76, 60, 0.1);
  border-radius: 4px;
}


.icon-delete {
  display: block !important;
  visibility: visible !important;
  width: 16px !important;
  height: 16px !important;
}