.relatorios-participar-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s;
  margin-left: 250px;
  background-color: #f7f9fc;
}

.main-content.sidebar-expanded {
  margin-left: 250px;
}

.main-content.sidebar-collapsed {
  margin-left: 60px;
}